/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url('https://fonts.googleapis.com/css?family=Modak|Oxygen|Yanone+Kaffeesatz');

@import url('https://fonts.googleapis.com/css?family=Exo+2:700,700i');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 70%;
    margin: 0 5%;
}

/* ===================
    ALL: Theme
   =================== */

.header-container {
    border-bottom: 8px solid #061739;
}

.footer-container,
.main aside {
    border-top: 5px solid #061739;
}

.header-container,
.footer-container,
.main aside {
    background: #4896CF;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    background: #061739;
    right: 0;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: none;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
    bottom: 0%;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== 
*/


.bouts, 
.bouts2 {
    text-align: center;
    margin: 40px;
}
.bouts2 {
    margin: 10px;
    padding-bottom: -20px;
}
#names {
    margin: 20px;
    text-align: center;
    padding-top: 20px;
}

.sim {
    border: 1px solid #000000;
    padding-right: -10px; 
}

li {
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/*
---------------------------------------
                Fonts
---------------------------------------
*/
.desc,
.desctitle {
    color: #000;
    margin: 0px 0px -1px 0px;
}

.desc {
    font-size: 1rem;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.desctitle {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.linq {
    text-align: center;
    font-size: 1rem;
}

h1 {
    padding: 50px 0px -5px;
}

p {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: -5px;
}

figure a,
h5 a,
img a,
nav a,
li a,
p a: hover,
nav a {
    text-decoration: none;
}
/*
------------------------------------------------
                Spaces
------------------------------------------------
*/

.cren {
    padding-top: 5px;
    margin: 10px;
    width: 135px;
    height: 120px;
}

.lo {
    width: 80px;
    height: 80px;
    padding-bottom: 50px; 
}
.puni {
    padding-bottom: -20px; 
}
.herm {
    padding: 0px 100px 0px 100px;
    font-size: 1.5rem;
}
#pefd,
#pefd a {
    float: right;
    text-decoration: none;
    text-align: right;
    z-index: 2;
}
#mediasoc {
    float: left;
    display: inline-block;
    position: static;
    z-index: -1;
}
#res {
    text-align: justify;
}
cite a{
    text-decoration: none;
    
}
/*
@media (max-width: 600px) {
    .main-container {
        margin-left: 50px;
    }
    li {
        margin: 0px -12px 0px 50px;
    } .main aside {
        padding: 20px;
    } .samples {
        padding: 15px;
    }
}

@media (max-width: 320px) {
    .wrapper {
        width: 295px;
        margin-left: -35px; 
    }
}
@media (max-width: 480px) {
    .nav a {
        padding: 16px 6px 21px 16px 107%;
    }
    .main wrapper {
        width: 400px;
        margin-left: -20px;
    } .header-container {
        padding: 50px auto;
    }
}*/


/*
nav bar issue
@media only screen and (min-width: 480px) {
    nav a {
        width: 23%;
    }
}
*/


/*
what's making things flex wrongly
-webkit-flex-basis: 500px;
        flex-basis: 500px;
*/


/*
@media (max-width: 768px) {
    .wrapper {
        width: 93%;
        margin-left: -5px;
        width: 1000px;
    } .col-md {
        margin-left: -5px;
        flex-basis: 0;
    }
}*/


/*
@media (max-width: 1024px) {
    .wrapper {
        width: 850px;
    } .col-md {
        -webkit-flex-grow: 100px;
        flex-grow: 100px;
        -webkit-flex-basis: 500px;
        flex-basis: 500px;
        } 
}
*/


/*@media (max-width: 1200px) {

}
*/


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */
    nav a {
        float: left;
        width: 24%;
        margin: 0 1.7%;
        padding: 18px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
   ==================== */
    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }
    /* ============
    WIDE: Menu
   ============ */
    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }
    /* ============
    WIDE: Main
   ============ */
    .main article {
        float: right;
        width: 45%;
    }

    .main aside {
        float: left;
        width: 42%;
        padding-bottom: 10px;
        margin-left: 10px;
        /*shorten margins*/
    }
}

@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1300px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}