@import url('https://fonts.googleapis.com/css?family=Days+One|Modak|Righteous');
/*
=============
List items
=============
*/

.menu {
    display: inline-block;
    padding: 5px 12px 8px 10px;
    margin: 5px 5px 0px 12px;
}
.basics {
    margin-right: 0px;
    margin-top: 10px;
    position: absolute;
    left: 30%;
}
.tools {
    margin-right: 10px;
}
.banner {
    margin-top: 200px;
    margin-right: 25px;
    margin-left: 25px;
    background: #FFDC1B;
    display: inline-block;
    overflow: hidden;
    clear: both;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
    padding: 50px 20px 50px 20px;
    -webkit-box-shadow: 24px 32px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 24px 32px 6px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 24px 32px 6px 1px rgba(0, 0, 0, 0.75);
}
.banner a {
    text-decoration: none;
}
.scnd {
    margin-top: -10px;
    font-size: 40px;
}
/*
====================
        Body
====================
*/

body {
    background: #4f4f4f;
}
header {
    position: absolute;
    top: 1%;
    left: 0%;
    text-align: center;
    padding: 1px 0px 20px 0px;
    width: 50%;
    height: 85%;
    overflow: hidden;
    display: inline-block;
}
.current {
    background-color: none;
    border-bottom: 5px solid #FFFFFF;
    border-radius: 10%;
}
#introduction {
    top: 20%;
    margin-top: 120px;
    padding: 10px 50px 1px 50px;
    background: #FFFFFF;
    height: 200px;
    -webkit-box-shadow: 14px 13px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 13px 6px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 13px 6px 1px rgba(0, 0, 0, 0.75);
}
/*
====================
        Fonts
====================
*/

h1 {
    font-size: 5vw;
    font-family: 'Modak', cursive;
    text-align: center;
    margin-bottom: -10px;
}
figcaption {
    color: #FFFFFF;
    font-size: 14px;
}
p {
    font-size: 0.95rem;
    margin: 0px 70px 100px 70px;
    text-align: center;
}
h5 {
    color: #FFFFFF;
    margin: 0px 20px 0px 0px;
    font-size: 18px;
    font-family: 'Righteous', cursive;
}
h6,
h6 a {
    color: #000000;
    margin: 0px 20px 0px 0px;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Days One', sans-serif;
}
h4 {
    font-size: 20px;
}
h1,
figcaption,
p,
h4 {
    color: #000000;
}
/*
====================
        Extras
====================
*/

img {
    padding: 0.2em;
    width: 90%;
    height: 90%;
    overflow: auto;
    display: inline-block;
}
.samples {
    margin: -5px 5px 20px 5px;
    text-align: center;
    padding: 10px 35px 5px 35px;
    overflow: auto;
    clear: both;
    background: #FFDC1B;
    -webkit-transform: skew(3deg);
    -moz-transform: skew(3deg);
    -o-transform: skew(3deg);
    -webkit-box-shadow: 14px 13px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 13px 6px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 13px 6px 1px rgba(0, 0, 0, 0.75);
}
i {
    display: inline-block;
    overflow: auto;
    float: right;
    top: 0%;
    padding-right: 5px;
    padding-bottom: 50px;
}
.wrk {
    margin-top: 40px;
    margin-left: 5px;
    margin-bottom: 5px;
}
